<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright 2013-2017 smartics, Kronseder & Reiner GmbH

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
<document>
    <head profile="http://dublincore.org/documents/dcq-html/">
      <title>Overview</title>

      <link rel="schema.DC" href="http://purl.org/dc/elements/1.1/"/>
      <link rel="DC.rights copyright" href="license.html" />

      <meta name="keywords" content="JBoss modules, archive, maven plugin, maven"/>
      <meta name="description" content="Report site of the JBoss modules Maven plugin. This plugin plugin creates an archive with JBoss modules to be applyable to a JBoss server installation. "/>
      <meta name="author" content="smartics"/>

      <meta name="DC.title" content="smartics-jboss-modules-maven-plugin"/>
      <meta name="DC.creator" content="smartics"/>
      <meta name="DC.subject" content="Report site of the JBoss modules Maven plugin"/>
      <meta name="DC.description" content="Report site of the JBoss modules Maven plugin. This plugin plugin creates an archive with JBoss modules to be applyable to a JBoss server installation. "/>
      <meta name="DC.publisher" content="smartics"/>
      <meta name="DC.rights" content="Copyright 2013-2015 smartics"/>
    </head>
	<body>
    <section name="Overview">
      <p>
        This <a href="http://maven.apache.org/">Maven</a> plugin creates an
        archive with <a href="https://docs.jboss.org/author/display/MODULES/Home">JBoss modules</a>
        to be installed to a
        <a href="https://www.jboss.org/jbossas">JBoss 7</a> server installation.
      </p>
      <p>
        Crafting the modules by hand is more cumbersome than to define a recipe
        that allows to construct the modules folder with all dependencies
        already defined by a
        <a href="http://maven.apache.org/pom.html">Maven POM</a>.
      </p>
      <p>
        Please refer to the <a href="https://www.smartics.eu/confluence/display/SJBMMP">project's homepage</a>
        for documentation.
      </p>
      <p>
        Since version 2.1.1 the artifact is available via the
        <a href="http://search.maven.org/">Maven Central Repository</a>.
      </p>
    </section>
  </body>
</document>
