<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright 2013 smartics, Kronseder & Reiner GmbH

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
<document>
    <head profile="http://dublincore.org/documents/dcq-html/">
      <title>Module Jandex</title>

      <link rel="schema.DC" href="http://purl.org/dc/elements/1.1/"/>
      <link rel="DC.rights copyright" href="license.html" />

      <meta name="keywords" content="module Jandex, JBoss modules, archive, maven plugin, maven"/>
      <meta name="description" content="Generates the Jandex for a project to be used as modules for JBoss."/>
      <meta name="author" content="smartics"/>

      <meta name="DC.title" content="Module Jandex"/>
      <meta name="DC.creator" content="smartics"/>
      <meta name="DC.subject" content="Howto for the plugin configuration to generate the Jandex"/>
      <meta name="DC.description" content="Generates the Jandex for a project to be used as modules for JBoss."/>
      <meta name="DC.publisher" content="smartics"/>
      <meta name="DC.rights" content="Copyright 2013 smartics"/>
    </head>
	<body>
    <section name="Usage Jandex">
      <p>
        The Jandex is an index of annotations found in an artifact to be
        used as a JBoss module.
      </p>
      <subsection name="Basic Configuration">
        <p>
          To create the Jandex for all classes of a project, use this
          configuration:
        </p>
        <source><![CDATA[<plugin>
  <groupId>${project.groupId}</groupId>
  <artifactId>${project.artifactId}</artifactId>
  <version>${project.version}</version>
  <executions>
    <execution>
      <id>jandex</id>
      <goals>
        <goal>jandex</goal>
      </goals>
    </execution>
  </executions>
</plugin>]]></source>
    </subsection>

      <subsection name="Selected Files">
        <p>
          To select certain files, use the <code>fileSets</code> configuration:
        </p>
        <source><![CDATA[<plugin>
  <groupId>${project.groupId}</groupId>
  <artifactId>${project.artifactId}</artifactId>
  <version>${project.version}</version>
  <executions>
    <execution>
      <id>jandex</id>
      <goals>
        <goal>jandex</goal>
      </goals>
      <configuration>
        <fileSets>
          <fileSet>
            <directory>${project.build.outputDirectory}</directory>
            <excludes>
              <exclude>some/classes/to/exclude/**</exclude>
            </excludes>
          </fileSet>
        </fileSets>
      </configuration>
    </execution>
  </executions>
</plugin>]]></source>
      <p>
        If no <code>directory</code> is given, it defaults to
        <code>project.build.outputDirectory</code>.
      </p>
      <p>
        Please note that only class files are processed.
      </p>
    </subsection>
    </section>
  </body>
</document>
